<div class="row">
    <div class="col">
        <input type="text" #buscarTexto (keyup)="buscar(buscarTexto.value)" class="form-control" placeholder="Buscar Artista" name="" id="">
    </div>
</div>


<div class="card-columns m-5">
    <div class="card h-100" *ngFor='let info of searchContent'>
        <img *ngIf='info.images.length > 0' [src]="info.images[0].url" class="card-img-top" alt="{{info.name}}">
        <img *ngIf='info.images.length == 0' src="assets/img/banner-ico.png" class="card-img-top" alt="{{info.name}}">
        <div class="card-body">
            <h4 class="card-title">{{info.name}}</h4>
            <span *ngFor='let artist of info.artists' class="badge badge-pill badge-primary">{{artist.name}}</span>
        </div>
    </div>
</div>